seleniumtest/target/surefire-reports/TEST-com.example.SwagLabsTests.xml
seleniumtest/target/surefire-reports/com.example.SwagLabsTests.txt
seleniumtest/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
seleniumtest/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
seleniumtest/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
seleniumtest/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
